<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "cabecera.html" %}

    <style>
        body{
            background-color: #fff;
        }
        form{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        form *{
            max-width: 20%;
            margin: 5px;
        }
    </style>
    <form action="/resultado/" method="get">

        <label for="producto">Introdusca el producto a buscar:</label>
        <input type="text" name ="producto" size="40">

        <label for="seccion">Indique la seccion que desea buscar:</label>
        <select name="seccion">
            <option value="todos">TODAS</option>

            {% for sec in articulos %}
            <option value="{{sec}}">{{sec|upper}}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Enviar">
        <input type="reset" value="Borar">
    </form>   
    {% include "footer.html" %}          
</body>
</html>